<!DOCTYPE html>
<html>
<head>
    <title>Patients</title>
</head>
<body>
    h2>Opret ny patient</h2>

<form method="post" action="/patients">
    <label>
        Navn:
        <input type="text" name="name" required>
    </label>
    <br><br>

    <label>
        Alder:
        <input type="number" name="age" required>
    </label>
    <br><br>

    <button type="submit">Opret patient</button>
</form>

<hr>
    <h1>Patient oversigt</h1>

    <p>Dette er din første rendede HTML-side 🎉</p>
</body>
</html>